html{
    height: 100%;
}

body{
    margin: 0px;
}

header {
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
}

header h1{
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

img.header-logo {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

main {
    text-align: center;
}

.hero-image{
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#application-start h2{
    margin-top: 0;
    padding-top: 15vh;
    padding-bottom: 5vh;
    font-size: 40px;
}

#application-start button{
    font-size: 20px;
    border-radius: 25px;
    padding: 5px 40px 5px 40px;
}

#application-info h2{
    color: #2a4c73;
}

.summary{
    margin-left: 15%;
    margin-right: 15%;
}

img.logo{
    width: 300px;
    height: 300px;
}

footer{
    border-top: 1px solid black;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 5px;
}